*{
    margin: 0;
    padding: 0;

}

.nav li {
    float: left;
    border-right: 1px solid rgb(255, 255, 255);
}
.nav #login {
    float: right;
    border-right: 1px solid rgb(255, 255, 255);
    display: block; 
    color: white;
    text-align: center;
    
    padding: 14px 16px;
    margin: 0;
    text-decoration: none;
    font-size: large;
    background-color: #2b2b2b;
}
.nav #login:hover {
    background-color:  #424141;
    cursor: pointer;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(15, 184, 0);
    width: 100%;
}
  
.nav li a {
    display: block; 
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}
.nav li a:hover {
    background-color:  rgb(25, 150, 0);
}
.nav .active {
    background-color: #055c02;
  }



.tabla-tabla{
    border: 1px solid rgb(0, 61, 28);
    border-collapse: collapse;
    text-align: center;
    vertical-align: center;
    padding: 3px;
    margin: 15px;
    
    padding-left: 30px;
    padding-right: 30px;
}

.tabla-tabla td{
    border: 1px solid rgb(0, 61, 28);
    border-collapse: collapse;
    text-align: center;
    vertical-align: center; 
    padding: 3px;
    margin: 15px;
    
    padding-left: 30px;
    padding-right: 30px;
}
.tabla-tabla th{
    border: 1px solid rgb(0, 61, 28);
    border-collapse: collapse;
    text-align: center;
    vertical-align: center;
    padding: 3px;
    margin: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
}

th, td{
	padding: 20px;
}

th{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}



  


#lista{
    width: 1000px;
    height: 400px;
    background-color: aqua;
}


button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
button:hover {
    opacity: 0.8;
}
  
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
.otro {
    width: auto;
    padding: 10px 18px;
    background-color: #17c200;
}
  